body {
    color: black;
    background-color: rgb(255, 255, 255);
    font-family: 'K2D', sans-serif;
    height: 2700px;
}

.container {
	width: 100%;
	max-width: 1750px;
	margin: 0 auto;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_img{
    position: relative;
    margin-top: 10px;
}


.header_logo {
    position: absolute;
    margin-left: 100px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.sublogo {
    position: absolute;
    text-transform: none;
    padding-top: 5px;
    font-size: 12px;
    width: 400px;
    font-weight: 400;
    
}

.nav {
    position: absolute;
    margin-left: 900px;
    margin-top: 50px;

}

.navlink{
    padding: 15px;
    color: black;
}


.tel {
    position: absolute;
    font-weight: 700;
    font-size: 32px;
    margin-left: 1450px;
}

.subtel {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    margin-left: 1380px;
    margin-top: 70px;
}

.main {
    position: absolute;
    width: 1750px;
    height: 304px;
    left: 85px;
    top: 181px;
    
    background: url(main.jpg);
    opacity: 0.5;
    border-radius: 50px;
}

.title {
    position: absolute;
    width: 729px;
    height: 53px;
    left: 595px;
    top: 241px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.btn1 {
    position: absolute;
width: 200px;
height: 50px;
left: 185px;
top: 375px;

background: rgba(255, 255, 255, 0.7);
border: none;
border-radius: 20px;
}

.btn2 {
    position: absolute;
width: 200px;
height: 50px;
left: 635px;
top: 375px;

background: rgba(255, 255, 255, 0.7);
border: none;
border-radius: 20px;
}

.btn3 {
    position: absolute;
width: 200px;
height: 50px;
left: 1085px;
top: 375px;

background: rgba(255, 255, 255, 0.7);
border: none;
border-radius: 20px;
}

.btn4 {
    position: absolute;
width: 200px;
height: 50px;
left: 1535px;
top: 375px;

background: rgba(255, 255, 255, 0.7);
border: none;
border-radius: 20px;
}

.line1 {
    opacity: 0.5;
    position: absolute;
width: 1750px;
height: 0px;
left: 85px;
top: 539.5px;
}

.why {
    position: absolute;
width: 262px;
height: 31px;
left: 829px;
top: 599px;

font-weight: 700;
font-size: 24px;
line-height: 31px;
text-align: center;
}

.left {
    position: absolute;
width: 423px;
height: 31px;
left: 358px;
top: 654px;
font-weight: 400;
font-size: 24px;
line-height: 31px;
}

.right {
    position: absolute;
width: 551px;
height: 31px;
left: 998px;
top: 654px;
font-weight: 400;
font-size: 24px;
line-height: 31px;
}

.left_txt {
    padding: 10px;
}

.right_txt {
    padding: 10px;
}

.line2 {
    position: absolute;
width: 1750px;
height: 0px;
left: 64px;
top: 1009px;
}

.services {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 930px;
 font-size: 32px;
}

.card1 {
    box-sizing: border-box;

position: absolute;
width: 400px;
height: 500px;
left: 135px;
top: 1078px;


border: 1px solid #000000;
border-radius: 20px;
}

.img_card1 {
    position: relative;
    left: 40px;
    top: 5px;
    border-radius: 20px;

}

.title_card1 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.info_card1 {
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
}

.btn_card1 {
    padding: 10px;
    position: absolute;
    background: black;
    color: white;
border: none;
border-radius: 15px;
left: 150px;
font-size: 14px;
}

.card2 {
    box-sizing: border-box;

position: absolute;
width: 400px;
height: 500px;
left: 735px;
top: 1078px;


border: 1px solid #000000;
border-radius: 20px;
}

.img_card2 {
    position: relative;
    left: 40px;
    top: 5px;
    border-radius: 20px;

}

.title_card2 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.info_card2 {
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
}

.btn_card2 {
    padding: 10px;
    position: absolute;
    background: black;
    color: white;
    border: none;
    border-radius: 15px;
    left: 150px;
    font-size: 14px;
}

.card3 {
    box-sizing: border-box;
    position: absolute;
    width: 400px;
    height: 500px;
    left: 1335px;
    top: 1078px;
    border: 1px solid #000000;
    border-radius: 20px;
}

.img_card3 {
    position: relative;
    left: 40px;
    top: 5px;
    border-radius: 20px;

}

.title_card3 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.info_card3 {
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
}

.btn_card3 {
    padding: 10px;
    position: absolute;
    background: black;
    color: white;
    border: none;
    border-radius: 15px;
    left: 150px;
    font-size: 14px;
}

.faq {
    position: absolute;
    left: 730px;
    top: 1700px;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.faq_how {
    margin-left: 50px;
    max-width: 1650px;
    font-size: 18px;
    position: absolute;
    top: 1800px;
}

.faq_ready {
    margin-left: 50px;
    max-width: 1650px;
    font-size: 18px;
    position: absolute;
    top: 2010px;
}

.faq_time {
    margin-left: 50px;
    max-width: 1650px;
    font-size: 18px;
    position: absolute;
    top: 2300px;
}

.contact {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1750px;
    height: 300px;
    background-color:rgba(221, 221, 221, 0.725);
    margin-top: 1500px;
    background: url(foot.jpg);
    opacity: 0.7;
    border-radius: 50px;
}

.content {  
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1750px;
        top: 2650px;
}

.footer_logo {
    padding: 30px;
    font-size: 32px;
    font-weight: 700;
    margin-right: 5px;
}

.email {
    font-size: 20px;

}

.inf {
    font-size: 20px;
    width: 500px;
}